[Unit]
Description=tasmogy nous1 service

[Service]
Type=simple
ExecStart=/home/joachim/bin/tasmogy.sh nous1 nous3
User=joachim

[Install]
WantedBy=multi-user.target
